apiclient                
blinker                  
cachetools               
certifi                  
charset-normalizer       
commonmark               
docutils                 
feedgenerator            
google-api-core          
google-api-python-client 
google-auth              
google-auth-httplib2     
googleapis-common-protos 
httplib2                 
idna                     
importlib-metadata       
Jinja2                   
Markdown                 
MarkupSafe               
numpy                    
pandas                   
pelican                  
pip                      
protobuf                 
pyasn1                   
pyasn1-modules           
Pygments                 
pyparsing                
python-dateutil          
pytz                     
requests                 
rich                     
rsa                      
setuptools               
six                      
Unidecode                
uritemplate              
urllib3                  
zipp                     